body {
  background-image: url("../images/pexels-photo-41227.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
  text-align: center;
  color: #fff;
  font-family: helvetica;
  padding: 50px 100px;
}

h1 {
	color: #5fb6f8;
}

a:link {
	color: #fff;
    text-decoration: underline;
}

#slogan {
	font-style: italic; 
}

#expertise {
	font-weight: bold;
}